/* elements */

body {
  background-color: #1D1D1D;
}


h2 {
  font-family: 'Advent Pro', sans-serif;
  color: #AECE00;
  font-size: xx-large;
}


p {
  font-family: 'Advent Pro', sans-serif;
  font-size: larger;
  color: white;
}

ol {
  font-family: 'Advent Pro', sans-serif;
  font-size: larger;
  font-weight: bolder;
  color: white;
}


section {
  border-radius: 5px;
  border-color: #1D1D1D;
  border-style: solid;
  border-width: thin;
  margin: 5% 7% 15% 7%;
  padding: 10px;

}



/* IDs */

#siteLinks {
  display: none;
  font-family: 'Advent Pro', sans-serif;
}


#Topic_1 {
  background: linear-gradient(180deg, #3B0C5E, #00A6B5);
}


#Topic_2 {
  background: linear-gradient(180deg, #3B0C5E, #00A6B5);
}


#Topic_3 {
  background: linear-gradient(180deg, #3B0C5E, #00A6B5);
}


#Topic_4 {
  background: linear-gradient(180deg, #3B0C5E, #00A6B5);
}


#Topic_5 {
  background: linear-gradient(180deg, #3B0C5E, #00A6B5);
}



/* classes */







/* media queries */
@media (min-width: 768px) {
  
  main {
    margin-left: 200px;
    padding: 0px 10px;
  }


  #navbar {
    height: 100%;
    width: 200px;
    background-color:#1D1D1D;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
  }


  #siteLinks {
    display: none;
    font-family: 'Advent Pro', sans-serif;
  }


  .navbar a {
    color: #00A6B5;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    display: block;  
  }
  
  
  .navbar a.nav-link-home {
    background: #1D1D1D;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .navbar a:hover {
    background-color: #1D1D1D;
    color: white;
  }
  /*
  .nav-link-home {
    background-color: blue;
    color: red;
  }
*/
}