/* elements */

header {
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0px;
}

main {
  margin-left: 200px;
  padding: 0px 10px;
}

a {
  display: block;
  margin: 10px;
}

p {
  font-family: sans-serif;
  margin-top: 2px;
}

code {
  background-color: lightgray;
  margin-bottom: 10px;
}



/* IDs */

#nav-title {
  text-align: center;
}

#navbar {
  height: 100%;
  width: 200px;
  background-color: lightgray;
  position: fixed;
  overflow-x: hidden;
}


/* classes */

.nav-link {
  border: 3px solid black;
}



/* media queries */
@media (max-width: 800px) {
  /*CSS for collapsible navbar here*/
}